{{define "exposure_join"}}WITH exposed_users AS (
    SELECT DISTINCT user_id, variant_id
    FROM delta.exposures
    WHERE experiment_id = '{{.ExperimentID}}'
),
metric_data AS (
    SELECT me.user_id, eu.variant_id, me.value
    FROM delta.metric_events me
    INNER JOIN exposed_users eu ON me.user_id = eu.user_id
    WHERE me.event_type = '{{.SourceEventType}}'
){{end}}