WITH exposed_users AS (
    SELECT user_id, variant_id, MIN(assignment_probability) AS assignment_probability
    FROM delta.exposures
    WHERE experiment_id = '{{.ExperimentID}}'
    GROUP BY user_id, variant_id
),
qoe_data AS (
    SELECT qe.user_id, eu.variant_id, eu.assignment_probability, qe.{{.QoEField}} AS value
    FROM delta.qoe_events qe
    INNER JOIN exposed_users eu ON qe.user_id = eu.user_id
)
SELECT
    '{{.ExperimentID}}' AS experiment_id,
    qoe_data.user_id,
    qoe_data.variant_id,
    '{{.MetricID}}' AS metric_id,
    AVG(qoe_data.value) AS metric_value,
    CAST('{{.ComputationDate}}' AS DATE) AS computation_date,
    MIN(qoe_data.assignment_probability) AS assignment_probability
FROM qoe_data
GROUP BY qoe_data.user_id, qoe_data.variant_id
